body {
    font-family:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title-remple {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 2em;
    font-family: LObster, "URW Chancery L", cursive;
    width: 100%;
}

.nav-item {
    float: right;
    font-size: 0.5em;
    font-weight: normal;
    font-family:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: right;
    width: 50%;
}

@media (max-width: 850px) {
    .title-remple {
        float: none;
        text-align: center;
        line-height: 1.75em;
        width: 100%;
    }

	.nav-item {
        float: none;
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
        line-height: 1.75em;
        width: 100%;
    }
}